name: Deploy index.html to EC2
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: mytest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: test
        run: |
          echo ${{ vars.EC2_HOST }}
          echo ${{ vars.EC2_USER }}
      - name: scp
        run: |
          echo  "${{ vars.EC2_KEY }}" > key.pem
          chmod 600 key.pem
          ls
          scp -i key.pem -o StrictHostKeyChecking=no ./index.html ${{ vars.EC2_USER }}@${{ vars.EC2_HOST }}:~/
          ssh -i key.pem -o StrictHostKeyChecking=no ${{ vars.EC2_USER }}@${{ vars.EC2_HOST }} "ls ~/"
          ssh -i key.pem -o StrictHostKeyChecking=no ${{ vars.EC2_USER }}@${{ vars.EC2_HOST }} "sudo mv ~/index.html /usr/share/nginx/html/"

      # - name: Copy index.html to EC2
      #   uses: appleboy/scp-action@v0.1.7
      #   with:
      #     host: ${{ vars.EC2_HOST }}
      #     username: ${{ vars.EC2_USER }}
      #     key: ${{ vars.EC2_KEY }}
      #     source: "index.html"
      #     target: "/usr/share/nginx/html"
